.menu{
    display: flex;
    justify-content: space-between;
    height: 150px;
    width: 100%;
    background-color: black;
}
.menu div{
    display: flex;
    align-items: center;
    margin-left: 50px;
}
.menu div h1{
    font-family:sans-serif;
    font-size: 90px;
    color: white;
    position: relative;
    margin-right: -15px;
}

.menu div h2{
    font-family: sans-serif;
    font-size: 45px;
    justify-content:end;
    color: white;
    margin-top: 28.5px;
    position: relative;
    margin-right: -15px;
}

.menu img{
    height: 52px;
    width: 52px;
    margin: 26px;
    margin-top: 50px;
}

#corFundoID{
    display: none;
}
.corFundo{
    background-color: white;
    position: absolute;
    right: 26px;
    top: 105px;
    display: flex;
    flex-direction: column;
    height: 302px;
    width: 52px;
    border-radius: 10px;
}
.corFundo div{
    height: 30px;
    width: 30px;
    border: 0.5px solid black;
    border-radius: 50%;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}
#cor1{
    background-color: rgb(236, 236, 236);
}
#cor2{
    background-color: rgb(73, 73, 73);
}
#cor3{
    background-color: rgb(136, 19, 19);
}
#cor4{
    background-color: purple;
}
#cor5{
    background-color: rgb(33, 123, 197);
}
#cor6{
    background-color: rgb(12, 71, 12);
}
#cor7{
    background-color: rgb(207, 207, 77);
}
